#faixaDeCima{
    background-color: honeydew;
    color: green;
    
}
title #faixaDeCima{
    color: #cfdbcf;
    text-align: center;
    

}



body{
    background-color: #122217;
    color: #7c7474;
    text-align: center;
}
#destaques{
    background-color: gold;
    color: darkblue;
    right: 100px;

}
 




